@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Poppins, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.overlay {
    position: relative;
}

/* 1024 -1 so it doesnt show when it hits 1024px */
@media only screen and (max-width: 1023px) {
    .overlay:after {
        content: " ";
        z-index: 29;
        display: block;
        height: 100%;
        top: 80px;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        pointer-events: none;
        position: fixed;
    }
}

[x-cloak] {
    display: none;
}

.btn {
    @apply mr-3
    rounded
    px-3
    py-2
    text-sm
    font-semibold
    text-white
    shadow-sm
    focus-visible:outline
    focus-visible:outline-2
    focus-visible:outline-offset-2

}

.btn-blue {
    @apply
    bg-blue-600
    hover:bg-blue-500
    focus-visible:outline-blue-600
}

